// Use double slash for config comments, only valid at beginning of line

// Flows will be scraped in order and discovered params placed into proj param file
// Subflows will be scraped immediately after the parent flow
// All existing flows not listed here will be scraped alphabetically after this list
<FLOW_LIST>
PNR
INIT_LIBRARY
INIT_DESIGN
FLOORPLAN
PLACE
CTS
ROUTE
ROUTE_OPT
EXPORT
</FLOW_LIST>

// Specify FLOW -> PREFIX mapping for param grouping
INIT_DESIGN -> INIT
INIT_LIBRARY -> LIB DB LEF GDS NDM CDL
PNR -> PNR

// Comments will be placed immediately before the param
//#<INIT_dir_to_mmmc_file> Here is a comment

// Default values for params defined here
//INIT_dir_to_mmmc_file = foobar
HYDRA_proj_home = <required>
INIT_gnd_net = gnd
INIT_vdd_net = vdd
ROUTE_OPT_execute_commands = route_opt
ROUTE_execute_commands = route_auto
CTS_execute_commands = clock_opt
PLACE_execute_commands = place_opt
SYNTH_execute_commands = compile_ultra -retime -no_autoungroup -no_boundary_optimization -gate_clock
SYNTH_optimize_commands = optimize_netlist -area -no_boundary_optimization
STA_verilog = ../pnr/output/<GLOBAL_design>.v
LEC_imp_netlist = ../pnr/output/<GLOBAL_design>.v
DRC_layout_file_path = ../pnr/output/<GLOBAL_design>.gds.gz
LVS_layout_file_path = ../pnr/output/<GLOBAL_design>.gds.gz
LVS_source_file_path = ../pnr/output/<GLOBAL_design>.lvs.v
RC_EXTRACT_ndm_db = ../pnr/db/<GLOBAL_design>.route_opt.nlib
LEC_enable_ignore_undriven = offd
FIX_TIMING_DMSA_execute_commands = fix_eco_timing -type hold
FIX_TIMING_DMSA_session = ../../sta_dmsa/db/dmsa.timing.session
FIX_TIMING_DMSA_FULLCHIP_execute_commands = fix_eco_timing -type hold
FIX_TIMING_DMSA_FULLCHIP_session = ../../sta_dmsa_fullchip/db/dmsa.timing.session
ECO_db = ../../pnr/db/<GLOBAL_design>.route_opt.nlib
ECO_only = off
ECO_runs = 
EXPORT_views = sta def lvs rc
SCAN_INSERT_test_modes = Internal_scan
STA_enable_fullchip = off